.toggle-card-container {
    position     : relative;
    background   : white;
    box-sizing   : border-box;
    border       : 1px solid #E8E8E8;
    border-radius: 10px;
    margin       : 0 0 30px 0;
    transition   : 300ms;
    box-shadow   : 0 0 0 rgba(0, 0, 0, 0.1);
}

.toggle-card-container > div {
    position      : relative;
    display       : flex;
    flex-direction: column;
    margin        : 30px;
}